.app-car {
  margin: 20px;
  animation: in 1s ease-in;
}

.leave {
  z-index: 2;
  position: absolute;
  left: 28%;
  top: 9.5%;
  color: red;
  animation: out 3s ease-in infinite;
  animation-delay: 0.5s;
}

@keyframes in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes out {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-170px);
    opacity: 0;
    visibility: hidden;
  }
}
